#!/usr/bin/env sh

if ! which doom > /dev/null ; then
    echo "Installing Doom Emacs:"
    git clone --depth 1 https://github.com/hlissner/doom-emacs ~/.config/doom-emacs
    ~/.config/doom-emacs/bin/doom install
else
    read -p "Run Doom sync? [Y/n] " answer
    answer=${answer,,}
    if [ ${answer} == "y" ]; then
        ~/.config/doom-emacs/bin/doom sync
    fi
fi
