#!/usr/bin/env sh

{{ if eq .chezmoi.osRelease.id "arch" -}}
    if ! pacman -Qs emacs > /dev/null ; then
        echo "Installing emacs and dependencies for Doom:"
        sudo pacman -S emacs ripgrep fd
        echo "Installing Chemacs2:"
        git clone https://github.com/plexus/chemacs2.git ~/.config/emacs
    fi
{{ end -}}

if [[ ! -d "$HOME/.local/bin" ]]; then
    mkdir "$HOME/.local/bin"
fi
mv "$HOME/.config/chemacs/ecf" "$HOME/.local/bin/ecf"
