#!/usr/bin/env sh

{{ if eq .chezmoi.osRelease.id "arch" -}}
    if ! pacman -Qi emacs > /dev/null ; then
        sudo pacman -S emacs
    fi
fi

{{ end -}}

git clone --depth 1 https://github.com/hlissner/doom-emacs ~/.config/doom-emacs
~/.config/doom-emacs/bin/doom install
